@charset "UTF-8";

/**********************************
** Elementos visuais
***********************************/

.brand{
    text-align: left;
    text-decoration: none;
}

.menu ul li{
    display: inline ;
}

.menu .brand a{
    padding-left: 10px;
    padding-top: 5px;
    list-style: none;
    float: left;
    text-decoration: none;
    border-bottom : 3px solid red;
}

.menu ul {
    text-align: right;
    padding: 0px;
    margin : 0px;
    list-style: none;
}


#vRain{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
.cover{
    position :fixed;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#bntVideo {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background:black;
    color:green;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px; height: 55px; width: 135px;
}

#bntVideo:hover {
    background: rgba(0, 145, 0, 0.74);
    color: yellow;
}


